header {
    display: flex;
    background-color: #e74c3c; 
    color: #fff;
    padding: 1rem;
    border-radius: 40px;
    box-shadow: 
    0 0 20px 0 rgba(255, 0, 0, 0.6),
    0 0 30px 0 rgba(255, 0, 0, 0.4),
    0 0 40px 0 rgba(255, 0, 0, 0.2),
    0 0 50px 0 rgba(255, 0, 0, 0.1),
    0 0 60px 0 rgba(255, 0, 0, 0.05);
}
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  nav {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 2rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #000000;
    color: #ffffff;
  }
  
  nav ul li a.active {
    background-color: #fff;
    color: #333;
  }

  @media only screen and (max-width: 623px){ 
    header{
      display: flex;
      flex-direction: column;
    }
  }

  