<header>
  <h1>Diggiovanni's</h1>
  <nav>
    <ul>
    <li>
      <a href=""  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li>
      <a href=""  routerLink="/aboutus" routerLinkActive="active" >About us</a>
    </li>
    <li>
      <a href="" routerLink="/cart" routerLinkActive="active" >Cart</a>
    </li>
    </ul>
  </nav>
</header>




<!-- <nav class="custom-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/cart" routerLinkActive="active">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


  <!-- Information 
    ////////////////////////////////////////////////////
    //
    //  routerLinkActive="active" - active-ს მაგივრად შეგიძლია ჩაწერო ის კლასი რომელიც გინდა დაადო როცა იქნებება მომხმარებელი მაგ ფქიჯზე კლაის აღწერა შეგიძლია ცსს-ში ჩოულებრივ
    //  
    //  [routerLinkActiveOptions]="{exact:true}" - მარტო home ღილაკს გაუწერე
    //
    //  routerLink="/aboutus" - aboutus-ის მაგივრად შეგიძლია ჩაწერო ის რაც წერია routing-modules-ს ში და დაადო ღილაკს დაჭერისას ჩატვირთავს იმ კომპონენტს შეგიძლია დაადო ნებისმიერ ღილაკს
    //
    ////////////////////////////////////////////////////
   -->

   <!-- routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" -->