   
  <main class="main-grid">
    <div class="head">
      <h1 class="page-title">About Diggiovanni's</h1>
      <p class="subtitle">We specialize in culinary delights. Creativity and passion are our secret ingredients for crafting exquisite dishes.</p>
    </div>
    <img class="main-image" src="https://media.timeout.com/images/105239239/image.jpg">
  
    <div class="main-text">
      <h2 class="section-title">We're Your Culinary Connoisseurs</h2>
      <p>Capturing the essence of flavor in every dish, Diggiovanni's is dedicated to delivering culinary masterpieces. Our team excels in the art of cooking, blending harmonious ingredients to evoke unforgettable tastes. If you're intrigued, explore our Menu to discover more.</p>
      <p>We've honed our skills through tireless dedication, delving into the nuances of gastronomy to create enchanting compositions. Our unconventional kitchen fosters creativity, ensuring that each dish we craft is a work of art.</p>
  
      <h2 class="section-title sub">We Craft Unforgettable Flavors</h2>
      <p>At Diggiovanni's, we're committed to realizing your culinary dreams. Together, we'll transform your vision into reality, crafting bespoke dishes that leave a lasting impression. Because at the end of the day, what matters most is the dining experience.</p>
      <p>So yes, we might be a bit unconventional, but if you're seeking a distinctive dining experience, Diggiovanni's is here for you.</p>
    </div>
  </main>
















<!-- <section>
    <h2>Our Story</h2>
    <p>Welcome to the world of Diggiovanni's, where passion for food and hospitality collide. With a rich culinary history dating back generations, Diggiovanni's has been a cornerstone in the dining scene. Our commitment to exceptional cuisine, warm ambiance, and memorable experiences sets us apart.</p>

    <h2>Our Mission</h2>
    <p>At Diggiovanni's, we strive to provide the finest dining experience by crafting exquisite dishes, delivering impeccable service, and fostering a welcoming atmosphere. We are dedicated to creating memorable moments for our guests and enriching the community through our culinary offerings.</p>

    <h2>Our Menu</h2>
    <p>From classic Italian recipes passed down through generations to innovative culinary creations, Diggiovanni's offers a diverse menu to satisfy every palate. Our commitment to using fresh, locally sourced ingredients ensures that every dish is crafted to perfection.</p>

    <div class="social-icons">
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>

    <button class="read-more-button">Explore Our Menu</button>
</section> -->
