<section class="page">
    <div class="sert">
        <div class="sertdiv">
            <p>Search by name</p>
            <div class="search-sert">
                <input class="sertinput" type="search" placeholder="Search by name.." id="search-by-name-input">
                <button id="search-btn" class="search-icon" href=""><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    
        <div class="minmaxpricediv">
            <p>Search by Price</p>
            <div class="maxminprices">
                <input class="sertinput" type="search" placeholder="Min Price.." id="minprice">
                <input class="sertinput" type="search" placeholder="Max Price.." id="maxprice">
            </div>


            
        </div>
        <div class="underline"></div>
        <div class="checkbox-is">
            <div class="checkbox">
                <div class="checkbox-div">
                    <input class="checkbox-input" type="checkbox">
                    <p> Salad</p>
                </div>
                <div class="checkbox-div">
                    <input class="checkbox-input" type="checkbox" >
                    <p>Soups</p>
                </div>
                <div class="checkbox-div">
                    <input class="checkbox-input" type="checkbox">
                    <p> Chicken-Dishesr</p>
                </div>
                <div class="checkbox-div">
                    <input class="checkbox-input" type="checkbox">
                    <p> Beed-Dishes</p>
                </div>
                <div class="checkbox-div">
                    <input class="checkbox-input" type="checkbox">
                    <p> See-Food</p>
                </div>
                <div class="checkbox-div">
                    <input class="checkbox-input" type="checkbox">
                    <p>Vegetable-Dishes</p>
                </div> 
            </div>
        </div>
    </div>
    <div id="cards" class="cards"></div>

    <div class="container">
        <div class="food-card">
          <img src="https://i.imgur.com/D8x1s82.png" alt="">
          <button>Add to cart</button>
          <h2>Novelty Burger</h2>
          <span class="description">Mushroom sauce, lettuce and cheese in a delcious bun</span>
          <span class="price">6<span>$</span></span>
        </div>
          <div class="food-card">
          <img src="https://cdn3d.iconscout.com/3d/premium/thumb/pizza-8564489-6777459.png" alt="">
          <button>Add to cart</button>
          <h2>Novelty Pizza</h2>
          <span class="description">4 types of cheese, cheesy as hell and very tasty</span>
          <span class="price">2<span>$</span></span>
        </div>
      </div>