<section class="page">
    <div class="sert">
        <div class="sertdiv">
            <p>Search by name</p>
            <div class="search-sert">
                <input class="sertinput" type="search" placeholder="Search by name.." id="search-by-name-input" [(ngModel)]="name" >
                <button id="search-btn" class="search-icon" (click)="Filter()"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="minmaxpricediv">
            <p>Search by Price</p>
            <div class="maxminprices">
                <input class="sertinput" type="search" placeholder="Min Price.." id="minprice" [(ngModel)]="minprice">
                <input class="sertinput" type="search" placeholder="Max Price.." id="maxprice" [(ngModel)]="maxprice">
            </div>
        </div>
        <div class="costum-buttons">
            <button (click)="GetFood()">all</button>
            <button *ngFor="let item of allCategories" (click)="FilterCategory(item.id)">{{item.name}}</button>
        </div>
    </div>
    <div class="cards">
        <div class="food-card" *ngFor="let item of FoodApi">
            <img src="{{item.image}}" alt="">
            <button class="btn" (click)="gotoDetails(item)">
              Add To Cart
            </button>
            <h2>{{item.name}}</h2>
            <span class="description">Mushroom sauce, lettuce and cheese in a delcious bun</span>
            <span class="price">{{item.price}}<span>$</span></span>
          </div>
    </div>

    <!-- <div class="container">
        <div class="food-card" *ngFor="let item of FoodApi">
          <img src="{{item.image}}" alt="">
          <button class="btn" (click)="addToCarter(item)">
            Add To Cart
          </button>
          <h2>{{item.name}}</h2>
          <span class="description">Mushroom sauce, lettuce and cheese in a delcious bun</span>
          <input type="number" [(ngModel)]="pQuantity" placeholder="Quantity">
          <span class="price">{{item.price}}<span>$</span></span>
        </div>
    </div> -->
</section>